/.build/
/_build/
/Build
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj
*.c
*.s
*.exe
*.out
*.bs
MYMETA.yml
MYMETA.json

!LICENSE
LOG

MYMETA.*

/Orange3-*

/test
!/my_conf
/my_conf/*

*.asm
/orange3-*
/.build
/_build_params
/Build.bat
!Build/
!META.json

*.tmp
